<div class="text-white bg-black bg-opacity-75 pt-36">
  <div class="mat-toolbar-row">
    <div class="flex flex-col">
      <h1 class="mat-h1" style="margin-bottom: 0">{{skinService.title$ | async}}</h1>
      <p class="mat-caption m-0">{{skinService.description$ | async}}</p>
    </div>
    <span class="ml-auto"></span>
    <div class="flex gap-2">
      <button routerLink="/demo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Primeng
      </button>
      <button routerLink="/demo/tail" routerLinkActive="active">Tailwind</button>
      <button routerLink="/demo/material" routerLinkActive="active">Material</button>
      <button routerLink="/demo/bootstrap" routerLinkActive="active">Bootstrap</button>
    </div>
  </div>

  <div class="flex flex-wrap px-4 py-3 gap-2">
<!--    <div class="flex gap-2" *ngIf="skinService.skins$ | async as skins">-->
<!--      <span class="self-center">Skins:</span>-->
<!--      <mat-chip-list aria-label="Skin selection">-->
<!--        <ng-container *ngFor="let skin of skins; let index = index">-->
<!--          <mat-chip color="accent" style="cursor: pointer"-->
<!--                    (click)="skinService.setActiveSkin(skin)"-->
<!--                    [selected]="(skinService.activeSkin$ | async) === skin"-->
<!--                    [matTooltip]="skin"-->
<!--          >-->
<!--            {{index + 1}}-->
<!--          </mat-chip>-->
<!--        </ng-container>-->
<!--      </mat-chip-list>-->
<!--      <span class="self-center">{{skinService.activeSkin$ | async}}</span>-->
<!--    </div>-->
    <span class="ml-auto"></span>
    <div class="flex gap-2">
      <a href="https://store.wlocalhost.org/l/ngb-14" target="_blank">Subscribe now</a>
      <ins
        class="text-xs bg-stone-800 text-gray-100 px-3 py-1.5 rounded border-1 font-light no-underline select-all self-center"
        [cdkCopyToClipboard]="skinService.npmName" (cdkCopyToClipboardCopied)="npmLinkCopied($event)">
        npm i {{skinService.npmName}}
      </ins>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
