<section class="pb-16 pt-10 px-4">
  <div class="grid md:grid-cols-5 gap-6">
    <div class="col-span-3">
      <h3 class="mat-h2 uppercase">Just do what you like, logic is ready!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolores error itaque magni nisi repellendus
        tempore. Accusamus autem, blanditiis consectetur cum dicta ducimus eaque eveniet facere facilis molestias
        nesciunt
        quisquam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate doloremque enim facilis,
        id,
        magnam minima nihil numquam perferendis quasi quia ut vero voluptates! Doloribus iusto provident recusandae
        reprehenderit voluptatum!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias aperiam asperiores commodi,
        cupiditate distinctio, dolore doloremque eius eligendi excepturi facilis id incidunt ipsum laudantium nulla quis
        quisquam ullam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias aperiam asperiores commodi,
        cupiditate distinctio, dolore doloremque eius eligendi excepturi facilis id incidunt ipsum laudantium nulla quis
        quisquam ullam.</p>
    </div>
    <div class="grid grid-cols-4 grid-rows-2 gap-4 col-span-2">
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
    </div>
  </div>
</section>
<section class="pb-16 pt-10 px-4 bg-[#3f51b5] text-white">
  <h3 class="mat-h2 uppercase">How it works</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ducimus eaque facilis natus necessitatibus!
    Architecto, aut consequuntur dolorem eius eligendi et expedita explicabo laborum magni modi molestias natus
    perspiciatis provident.</p>
  <div class="flex gap-4 items-center mt-8">
    <div class="text-center bg-white p-4 rounded shadow hover:shadow-lg shadow-gray-300 cursor-pointer text-gray-700">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
           stroke="currentColor" class="w-10 h-10 inline-block mb-3">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
      </svg>
      <h4 class="mat-h1 mb-0">Angular application</h4>
      <p>This card has divider and indeterminate progress as footer</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
         class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
    </svg>
    <div class="text-center bg-white p-4 rounded shadow hover:shadow-lg shadow-gray-300 cursor-pointer text-gray-700">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
           stroke="currentColor" class="w-10 h-10 inline-block mb-3">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
      </svg>
      <h4 class="mat-h1 mb-0">MJML Converter</h4>
      <p>This card has divider and indeterminate progress as footer</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
         class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
    </svg>
    <div class="text-center bg-white p-4 rounded shadow hover:shadow-lg shadow-gray-300 cursor-pointer text-gray-700">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
           stroke="currentColor" class="w-10 h-10 inline-block mb-3">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
      </svg>
      <h4 class="mat-h1 mb-0">HTML Template</h4>
      <p>This card has divider and indeterminate progress as footer</p>
    </div>
  </div>
</section>
<section class="pb-16 pt-10 px-4">
  <h3 class="mat-h2 uppercase">Simple implementation steps</h3>
  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ducimus eaque facilis natus
    necessitatibus!
    Architecto, aut consequuntur dolorem eius eligendi et expedita explicabo laborum magni modi molestias natus
    perspiciatis provident.</p>
  <div class="flex gap-4">
    <div class="grid md:grid-rows-3 flex-1 divide-y divider-gray-300">
      <div class="bg-white px-2 py-4">
        <div class="flex align-items-center">
          <div class="p-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
            </svg>
          </div>
          <div class="flex-1">
            <h5 class="mb-0 text-gray-700">Step 1</h5>
            <h4 class="mat-h1 mb-0">Create application</h4>
          </div>
        </div>
        <p>This card has divider and indeterminate progress as footer</p>
      </div>
      <div class="bg-white px-2 py-4">
        <div class="flex align-items-center">
          <div class="p-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
            </svg>
          </div>
          <div class="flex-1">
            <h5 class="mb-0 text-gray-700">Step 2</h5>
            <h4 class="mat-h1 mb-0">Set up configuration</h4>
          </div>
        </div>
        <p>This card has divider and indeterminate progress as footer</p>
      </div>
      <div class="bg-white px-2 py-4">
        <div class="flex align-items-center">
          <div class="p-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
            </svg>
          </div>
          <div class="flex-1">
            <h5 class="mb-0 text-gray-700">Step 3</h5>
            <h4 class="mat-h1 mb-0">Enjoy!</h4>
          </div>
        </div>
        <p>This card has divider and indeterminate progress as footer</p>
      </div>
    </div>
    <div class="flex-1">
      <p>Some images here</p>
    </div>
  </div>
</section>

<section class="pb-16 pt-10 px-4 bg-[#3f51b5] text-white">
  <h3 class="mat-h2 uppercase">Just one simple license</h3>
  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ducimus eaque facilis natus
    necessitatibus!
    Architecto, aut consequuntur dolorem eius eligendi et expedita explicabo laborum magni modi molestias natus
    perspiciatis provident.</p>
</section>

<section class="pb-16 pt-10 px-4">
  <h3 class="mat-h2 uppercase">See what others are saying</h3>
  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ducimus eaque facilis natus
    necessitatibus!
    Architecto, aut consequuntur dolorem eius eligendi et expedita explicabo laborum magni modi molestias natus
    perspiciatis provident.</p>
</section>

<section class="pb-16 pt-10 px-4 bg-[#3f51b5] text-white">
  <h3 class="mat-h2 uppercase">Frequently Asked Questions</h3>
  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ducimus eaque facilis natus
    necessitatibus!
    Architecto, aut consequuntur dolorem eius eligendi et expedita explicabo laborum magni modi molestias natus
    perspiciatis provident.</p>
</section>

<section class="pb-16 pt-10 px-4">
  <h3 class="mat-h2 uppercase">Not ready yet? Let's be in touch</h3>
  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ducimus eaque facilis natus
    necessitatibus!
    Architecto, aut consequuntur dolorem eius eligendi et expedita explicabo laborum magni modi molestias natus
    perspiciatis provident.</p>
  <p>subscription form</p>
</section>
