<section class="my-12">
  <div class="grid md:grid-cols-5 gap-6">
    <div class="col-span-3">
  <h3 class="mat-h2 uppercase">Just do what you like, logic is ready!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolores error itaque magni nisi repellendus
        tempore. Accusamus autem, blanditiis consectetur cum dicta ducimus eaque eveniet facere facilis molestias nesciunt
        quisquam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate doloremque enim facilis, id,
        magnam minima nihil numquam perferendis quasi quia ut vero voluptates! Doloribus iusto provident recusandae
        reprehenderit voluptatum!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias aperiam asperiores commodi,
        cupiditate distinctio, dolore doloremque eius eligendi excepturi facilis id incidunt ipsum laudantium nulla quis
        quisquam ullam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias aperiam asperiores commodi,
        cupiditate distinctio, dolore doloremque eius eligendi excepturi facilis id incidunt ipsum laudantium nulla quis
        quisquam ullam.</p>
    </div>
    <div class="grid grid-cols-4 grid-rows-2 gap-4 col-span-2">
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
    </div>
  </div>
</section>
<section class="my-12">
  <div class="grid md:grid-cols-5 gap-6">
    <div class="col-span-3">
  <h3 class="mat-h2 uppercase">Just do what you like, logic is ready!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolores error itaque magni nisi repellendus
        tempore. Accusamus autem, blanditiis consectetur cum dicta ducimus eaque eveniet facere facilis molestias nesciunt
        quisquam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate doloremque enim facilis, id,
        magnam minima nihil numquam perferendis quasi quia ut vero voluptates! Doloribus iusto provident recusandae
        reprehenderit voluptatum!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias aperiam asperiores commodi,
        cupiditate distinctio, dolore doloremque eius eligendi excepturi facilis id incidunt ipsum laudantium nulla quis
        quisquam ullam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium alias aperiam asperiores commodi,
        cupiditate distinctio, dolore doloremque eius eligendi excepturi facilis id incidunt ipsum laudantium nulla quis
        quisquam ullam.</p>
    </div>
    <div class="grid grid-cols-4 grid-rows-2 gap-4 col-span-2">
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
      <div class="bg-gray-100 rounded border border-gray-400"></div>
    </div>
  </div>
</section>
