/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

//@include mat.all-legacy-component-typographies();
//@include mat.legacy-core();
//@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());
@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($my-theme);
@include mat.all-legacy-component-themes($my-theme);

//@media (prefers-color-scheme: dark) {
//  @include mat.all-component-colors($dark-theme);
//}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
