/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'sass:map';

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();
@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());

// Define a light theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
  )
));

// Define a dark theme
//$dark-primary: mat.define-palette(mat.$pink-palette);
//$dark-accent: mat.define-palette(mat.$blue-grey-palette);
//$dark-theme: mat.define-dark-theme((
//  color: (
//    primary: $dark-primary,
//    accent: $dark-accent,
//  )
//));

@include mat.all-legacy-component-themes($light-theme);

//@media (prefers-color-scheme: dark) {
//  @include mat.all-component-colors($dark-theme);
//}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
