<mat-toolbar color="primary" class="mat-elevation-z4 sticky top-0 z-10">
  <mat-toolbar-row class="m-auto max-w-screen-xl min-h-fit">
    <button mat-button routerLink="/">LOGO</button>
    <div class="ml-4 flex">
      <a mat-button routerLink="/documentation" routerLinkActive="active">Documentation</a>
      <a mat-button routerLink="/converter" routerLinkActive="active">MJML Converter</a>
      <a mat-button href="https://wlocalhost.gumroad.com/affiliates" target="_blank">Become Partner</a>
      <a mat-button routerLink="/demo" routerLinkActive="active">Demonstrations</a>
      <a mat-button routerLink="/templates" routerLinkActive="active">Email Templates</a>
    </div>
    <div class="ml-auto flex">
      <a href="#" mat-button>Store</a>
      <a href="#" mat-button>NPM</a>
      <a href="#" mat-button>Help</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<footer class="mat-toolbar mat-primary py-2">
  <div class="m-auto max-w-screen-xl min-h-fit text-center">
    <!--    <p class="mat-caption">@Copyright NgComma SRL</p>-->
  </div>
</footer>
