<mat-toolbar color="primary" class="mat-elevation-z4 sticky top-0">
  <mat-toolbar-row class="m-auto max-w-screen-xl min-h-fit">
    <button mat-button routerLink="/">LOGO</button>
    <div class="ml-4 flex gap-2">
      <button mat-button routerLink="/" routerLinkActive="active">Documentation</button>
      <button mat-button routerLink="/demo" routerLinkActive="active">MJML Converter</button>
      <button mat-button routerLink="/demo" routerLinkActive="active">Become Partner</button>
      <button mat-button routerLink="/demo" routerLinkActive="active">Demonstrations</button>
      <button mat-button routerLink="/demo" routerLinkActive="active">Email Templates</button>
    </div>
    <div class="ml-auto flex gap-2">
      <button mat-button>Store</button>
      <button mat-button>NPM</button>
      <button mat-button>Help</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<footer class="mat-toolbar mat-primary py-2">
  <div class="m-auto max-w-screen-xl min-h-fit text-center">
<!--    <p class="mat-caption">@Copyright NgComma SRL</p>-->
  </div>
</footer>
