/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
}

.p-dropdown {
  width: 100%;
}
