<bulma-email-builder></bulma-email-builder>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="has-background-dark" style="height: 10%; padding: 1rem;">
  <div class="level" style="align-items: center;">
    <div class="level-left is-flex is-align-items-center">
      <figure class="image is-32x32">
        <img src="https://ngb.email/logo.png">
      </figure>
      <h3 class="title is-3 has-text-white ml-2 mb-1">Bulma Email Builder</h3>
    </div>
    <div class="level-right is-flex is-align-items-center">
      <a class="has-text-white is-size-5 ml-2 mr-5"
      href="https://docs.ngb.email/templates/default-templates/bootstrap-email-builder">How To Install</a>
      <a class="has-text-white is-size-5 mr-5" href="">
        <span class="icon">
          <i class="fa fa-solid fa-arrow-left"></i>
        </span>
        Back To Product Details</a>
      <a class="button button-medium is-danger mr-2" href="https://store.wlocalhost.org/l/ngb-14">Get Your Licence Now &nbsp;
        <i class="fa fa-sharp fa-solid fa-rocket"></i>
      </a>
    </div>
  </div>
</div>
